.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background: url("../public/images/thewall.png");
  background-color: #0a1329;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 150px;
  padding: 20px;
  color: white;
  margin-bottom: 20px;
}

.App-intro {
  font-size: large;
}

.main-container{
  max-width: 70%;
  margin:0 auto;
}

.no-radius {
  border-radius: 0px;
}

.userContent{
  font-size: 14px;
  font-weight: normal;
  line-height: 1.38;
  text-align: left;
}

.Loader{
  min-height: 200px;
}

.grey {
  color: #ccc;
}

.account a {
  color: #fff;
}
.account {
  list-style: none;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
